.about {
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  .reviews {
    text-align: center;
    .tabs-container {
      .tabs-header {
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        gap: 40px;
        button {
          padding: 5px 10px;
          width: 220px;
          font-size: 24px;
          border: 1px solid white;
          cursor: pointer;
          border-radius: 5px;

          &.active {
            scale: 1.01;
            background-color: rgb(202, 202, 202);
            color: black;
          }

          &:hover {
            scale: 1.05;
            background-color: white;
            color: black;
            transition: all 0.5s ease;
          }
        }
      }
      .tabs-content {
        .tab-panel {
          .reviews-tille {
            text-align: center;
          }
        }
      }
    }
  }

  .contacts-items {
    padding: 40px 0;
    p {
      margin: 0;
      font-size: 26px;
    }
    .contacts-item {
      padding: 40px 0;
      div {
        padding: 10px 0;
        display: flex;
        a {
          display: flex;
          align-items: center; //выровниить текст
          font-size: 30px;
          img {
            padding-right: 10px;
            width: 60px;
          }
        }
      }
    }
  }
}
