.nav {
  .nav-items {
    padding: 0;
    margin: 16px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    min-width: 330px;
    gap: 30px;
    font-size: 20px;
    .nav-item {


    }
  }
}